
@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: normal;
  src: local('Calibre Regular'), url('Calibre-Regular.otf') format('opentype');
}
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: normal;
  src: local('Calibre Regular Italic'), url('Calibre-RegularItalic.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 300;
  src: local('Calibre Thin'), url('Calibre-Thin.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 300;
  src: local('Calibre Thin Italic'), url('Calibre-ThinItalic.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 100;
  src: local('Calibre Light'), url('Calibre-Light.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 100;
  src: local('Calibre Light Italic'), url('Calibre-LightItalic.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 500;
  src: local('Calibre Medium'), url('Calibre-Medium.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 500;
  src: local('Calibre Medium Italic'), url('Calibre-MediumItalic.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 600;
  src: local('Calibre Semibold'), url('Calibre-Semibold.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 600;
  src: local('Calibre Semibold Italic'), url('Calibre-SemiboldItalic.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 700;
  src: local('Calibre Bold'), url('Calibre-Bold.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 700;
  src: local('Calibre Bold Italic'), url('Calibre-BoldItalic.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 900;
  src: local('Calibre Black'), url('Calibre-Black.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 900;
  src: local('Calibre Black Italic'), url('Calibre-BlackItalic.otf') format('opentype');
  }

@font-face {
  font-family: 'SF Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Regular'), url('SFMono-Regular.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Regular Italic'), url('SFMono-RegularItalic.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Light';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Light'), url('SFMono-Light.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Light Italic'), url('SFMono-LightItalic.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Medium'), url('SFMono-Medium.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Medium Italic'), url('SFMono-MediumItalic.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Semibold'), url('SFMono-Semibold.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Semibold Italic'), url('SFMono-SemiboldItalic.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Bold'), url('SFMono-Bold.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Bold Italic'), url('SFMono-BoldItalic.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Heavy'), url('SFMono-Heavy.otf') format('opentype');
}


@font-face {
  font-family: 'SF Mono Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Heavy Italic'), url('SFMono-HeavyItalic.otf') format('opentype');
}